[submodule "plugins"]
    path = plugins
    url = https://github.com/getpelican/pelican-plugins.git
[submodule "theme"]
    path = theme
    url = git@github.com:fly/burrito.git
[submodule "plugins.d/pelican_dynamic"]
	path = plugins.d/pelican_dynamic
	url = https://github.com/wrobstory/pelican_dynamic.git
